.Overlay {
	position: absolute;
	top: -21%;
	// top: 0;
	width: 100%;
	max-width: 425px;
	z-index: 3;
	animation-name: Overlay-open;
	animation-duration: 2s;
	pointer-events: none;
}

.Overlay-bottom {
	position: absolute;
	// bottom: 0;
	bottom: -21%;
	width: 100%;
	max-width: 425px;
	z-index: 3;
	transform: scaleY(-1);
	animation-name: Overlay-bottom-open;
	animation-duration: 2s;
	pointer-events: none;
	overflow: clip;
}

@keyframes Overlay-open {
	from {
		top: 0;
	}
	to {
		top: -21%;
	}
}

@keyframes Overlay-bottom-open {
	from {
		bottom: 0;
	}
	to {
		bottom: -21%;
	}
}
