.PokeGrid-grid {
	position: fixed;
	width: 100%;
	max-width: 425px;
	height: 100%;
	// max-height: 50%;
	// background-color: lightblue;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 10px;
	z-index: 2;
	overflow-y: scroll;
	box-sizing: border-box;
	padding: 10px;
	padding-top: 10rem;
	backdrop-filter: blur(30px);
	-webkit-backdrop-filter: blur(10px);
	// background-color: rgba(lightblue, 0.4);
	box-shadow: inset rgb(92, 132, 145) 0px 0px 100px 0px;

	.PokeGrid-pokemon {
		aspect-ratio: 1;
		grid-row: span 2;
		grid-column: span 2;
		background-color: rgba(lightblue, 0.7);
		border: 3px solid rgb(203, 228, 236);
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-position: center;
		background-size: contain;
		box-shadow: inset rgb(69, 102, 113) 0px 0px 40px 0px;

		.PokeGrid-pokemon-top {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			padding-inline: 5px;
			box-sizing: border-box;
			height: 20px;
			margin-top: 2px;

			.PokeGrid-pokemon-types {
				display: flex;
				height: 100%;

				img {
					height: 90%;
					margin-right: 2px;
				}
			}
		}

		.PokeGrid-pokemon-image {
			width: 60%;
		}

		.PokeGrid-pokemon-bottom {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			padding-inline: 5px;
			box-sizing: border-box;
		}
	}

	.PokeGrid-pokemon:hover {
		scale: 105%;
		border: 3px solid white;
	}

	.PokeGrid-info {
		aspect-ratio: 2/1;
		grid-row: span 2;
		grid-column: span 6;
		display: flex;

		.PokeGrid-info-main {
			height: 100%;
			width: 40%;
			background-color: rgba(lightblue, 0.4);
			border: 3px solid lightblue;
			border-radius: 10px 40px 0 10px;
			border-right: none;
			display: flex;
			flex-direction: column;

			.PokeGrid-info-image {
				width: 100%;
				height: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;

				img {
					width: 50%;
					position: absolute;
				}

				canvas {
					position: absolute;
				}
			}

			.PokeGrid-info-simple {
				width: 100%;
				height: 50%;
				box-sizing: border-box;
				padding: 10px;
				display: flex;
				flex-direction: column;
				justify-content: space-around;

				.PokeGrid-info-simple-top {
					display: flex;
					justify-content: space-between;
				}

				.PokeGrid-info-simple-bottom {
					display: flex;
					justify-content: space-between;
				}

				p {
					width: max-content;
					max-width: 80%;
					border-bottom: 1px solid black;
				}
			}
		}

		.PokeGrid-info-other {
			height: 100%;
			width: 60%;
			background-color: rgba(lightblue, 0.4);
			border: 3px solid lightblue;
			border-radius: 40px 10px 10px 0;
			border-left: none;
			display: flex;
			flex-direction: column;

			.PokeGrid-info-TabBar {
				background-color: yellow;
				width: 100%;
				height: 30px;
				display: flex;

				li {
					width: 100%;
					height: 100%;
					list-style: none;

					button {
						width: 100%;
						height: 100%;
						background-color: green;
					}
				}
			}

			.PokeGrid-info-TabInfo {
				width: 100%;
				height: 100%;

				// background-color: red;
			}
		}
	}
}

.PokeGrid-grid::-webkit-scrollbar {
	display: none;
}

.PokeInfo-About {
	width: 100%;
	height: 100%;
	// background-color: rgba(0, 0, 255, 0.4);
	box-sizing: border-box;
	padding: 0.75rem;

	p {
		width: max-content;
		border-bottom: 1px solid black;
	}
}

.PokeInfo-Evo {
	width: 100%;
	height: 100%;
	background-color: rgba(255, 0, 0, 0.4);
}

.PokeInfo-TEMP {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	img {
		position: absolute;
		width: 135px;
	}

	canvas {
		position: absolute;
	}
}

@keyframes PokeInfo-open {
	from {
		transform: scaleY(0);
	}
	to {
		transform: scaleY(1);
	}
}
