.PokeGrid-grid {
	position: fixed;
	width: 100%;
	max-width: 425px;
	height: 100%;
	// max-height: 50%;
	// background-color: lightblue;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 10px;
	z-index: 0;
	overflow-y: scroll;
	box-sizing: border-box;
	padding: 10px;
	// padding-top: 13.7rem;
	padding-top: 20svh;
	// padding-bottom: 11.5rem;
	padding-bottom: 17svh;
	backdrop-filter: blur(100px);
	-webkit-backdrop-filter: blur(100px);
	background-color: rgba(lightblue, 0.7);
	box-shadow: inset rgba(55, 75, 129, 0.508) 0px 0px 25px 0px;

	.PokeGrid-pokemon {
		aspect-ratio: 1;
		grid-row: span 2;
		grid-column: span 2;
		// background-color: rgba(lightblue, 0.7);
		// border: 3px solid rgba(203, 228, 236, 0.324);
		// border-radius: 10px;
		border: none;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-position: center;
		background-size: contain;
		// box-shadow: inset rgb(69, 102, 113) 0px 0px 15px 0px;
		position: relative;
		background: transparent;
		background-image: url("./PokeItem/pokeitem.png");
		background-size: contain;
		background-repeat: no-repeat;

		.PokeGrid-pokemon-top {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			padding-inline: 11px;
			box-sizing: border-box;
			height: 20px;
			margin-top: 10px;

			.PokeGrid-pokemon-types {
				display: flex;
				height: 100%;
				padding-top: 2px;

				img {
					height: 90%;
					margin-right: 2px;
				}
			}

			p {
				padding-right: 5px;
			}
		}

		.PokeGrid-pokemon-image {
			width: 60%;

			height: auto;
		}

		.PokeGrid-pokemon-bottom {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			box-sizing: border-box;
			padding-inline: 16px;
			height: 16px;
			padding-bottom: 16px;
		}
	}

	.PokeGrid-pokemon:hover {
		scale: 105%;
		border-radius: 15px;
		border: 3px solid white;
	}

	.PokeGrid-info {
		aspect-ratio: 2/1;
		grid-row: span 2;
		grid-column: span 6;
		display: flex;
		// background-color: rgba(lightblue, 0.4);
		// border: 3px solid rgb(203, 228, 236);
		// border-radius: 10px;
		// box-shadow: inset rgb(69, 102, 113) 0px 0px 80px 0px;

		background: transparent;
		background-image: url("./PokeItem/pokeinfo.png");
		background-size: 100% 100%;
		background-repeat: no-repeat;

		.PokeGrid-info-main {
			height: 100%;
			width: 40%;

			display: flex;
			flex-direction: column;

			.PokeGrid-info-image {
				width: 100%;
				height: 46%;
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;

				img {
					width: 50%;
					position: absolute;
				}

				canvas {
					position: absolute;
				}
			}

			.PokeGrid-info-simple {
				width: 100%;
				height: 50%;
				box-sizing: border-box;
				padding: 14px;
				padding-top: 10px;
				display: flex;
				flex-direction: column;
				justify-content: space-around;

				.PokeGrid-info-simple-top {
					display: flex;
					justify-content: space-between;
				}

				.PokeGrid-info-simple-bottom {
					display: flex;
					justify-content: space-between;
				}

				p {
					width: max-content;
					max-width: 80%;
					border-bottom: 1px solid black;
				}
			}
		}

		.PokeGrid-info-other {
			height: 100%;
			width: 60%;
			display: flex;
			flex-direction: column;

			.PokeGrid-info-TabBar {
				background-color: yellow;
				width: 100%;
				height: 30px;
				display: flex;

				li {
					width: 100%;
					height: 100%;
					list-style: none;

					button {
						width: 100%;
						height: 100%;
						background-color: #e7f0f3;
						border: none;
						box-shadow: 0 0 10px #b7d4e0;
					}
				}
			}

			.PokeGrid-info-TabInfo {
				width: 100%;
				height: 100%;
			}
		}
	}
}

.PokeGrid-grid::-webkit-scrollbar {
	display: none;
}

.PokeGrid-info-other {
	height: 100;
}

.PokeGrid-info-TabInfo {
	height: 100%;
}

.PokeInfo-About {
	width: 100%;
	height: 100%;
	// background-color: rgba(0, 0, 255, 0.4);
	box-sizing: border-box;
	padding: 0.75rem;

	p {
		// max-width: 100%;
		// width: max-content;
		// border-bottom: 1px solid black;
		text-decoration: underline;
	}
}

.PokeInfo-Evo {
	width: 100%;
	height: 100%;
	// background-color: rgba(255, 0, 0, 0.4);

	display: flex;
	justify-content: space-around;
	align-items: center;

	.stage-1 {
		height: 100%;
		width: min-content;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}

	.stage-2 {
		height: 100%;
		width: min-content;

		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;

		overflow-y: scroll;
	}

	.stage-3 {
		height: 100%;
		width: min-content;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}

	.stage-2::-webkit-scrollbar,
	.stage-3::-webkit-scrollbar {
		display: none;
	}

	.arrow {
		width: 30px;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;

		p {
			color: white;
			position: absolute;
		}

		img {
			width: 120%;
		}
	}

	.PokeEvoSlot {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background-color: rgba(white, 0.6);
		margin-block: 10px;

		display: flex;
		justify-content: center;
		align-items: center;

		img {
			width: 90%;
			height: 90%;
		}
	}

	.current {
		background-color: rgba(yellow, 0.6);
	}
}

.PokeInfo-TEMP {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	position: relative;

	img {
		position: absolute;
		// top: 2px;
		// left: 26px;
		width: 135px;
		padding-right: 2px;
	}

	.labels {
		width: 170px;
		padding-bottom: 7px;
	}

	canvas {
		position: absolute;
	}
}

@keyframes PokeInfo-open {
	from {
		transform: scaleY(0);
	}
	to {
		transform: scaleY(1);
	}
}
