.App {
	width: 100svw;
	height: 100svh;

	display: flex;
	justify-content: center;
	align-items: center;

	background-image: url("assets/bg.jpg");
	background-clip: cover;
	background-position: center;

	overflow: hidden;
	position: relative;
}

.rotate {
	display: none;
}

@media only screen and (max-width: 1250px) and (orientation: landscape) {
	.App {
		display: none;
	}

	.rotate {
		width: 100svw;
		height: 100svh;
		display: grid;
		place-content: center;
	}
}
