.App {
	width: 100svw;
	height: 100svh;

	display: flex;
	justify-content: center;
	align-items: center;

	background-image: url("assets/bg.jpg");
	background-clip: cover;
	background-position: center;
}
